[package]
name = "oss_pipe"
version = "0.2.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow = "^1"
tokio = { version = "^1", features = ["full"] }
clap = "4.1.6"
# rustyline = "11.0.0"
rustyline = "9.1.2"
rustyline-derive = "0.8.0"
shellwords = "1.1.0"
lazy_static = "1.4.0"
sysinfo = "0.28.0"
serde = { version = "1.0.152", features = ["derive"] }
serde_json = "1.0.93"
serde_yaml = "0.9.17"
log = "0.4.17"
log4rs = "1.2.0"
rs-snowflake = "0.6.0"
async-trait = "0.1.66"
walkdir = "2.3.2"
bytes = "1.4.0"
infer = "0.13.0"
rayon = "1.7.0"
time = "0.3.20"
rand = "0.8.5"
rust-crypto = "0.2.36"
num_cpus = "1.15.0"
dashmap = "5.4.0"
regex = "1.8.1"
termtree = "0.4.1"
indicatif = "0.17.6"
notify = "6.1.1"
tabled = "0.14.0"
rust_decimal = "1.33"
rust_decimal_macros = "1.33"
inotify = "0.10.2"
once_cell = "1.18.0"

# jd and aws oss
# jdcloud_signer = { git = "https://github.com/shijunLee/jdcloud-sdk-rust-signer" }
aws-config = { git = "https://github.com/awslabs/aws-sdk-rust", branch = "main" }
aws-sdk-s3 = { git = "https://github.com/awslabs/aws-sdk-rust", branch = "main" }
aws-types = { git = "https://github.com/awslabs/aws-sdk-rust", branch = "main", feature = [
    "hardcoded-credentials",
] }
aws-credential-types = { git = "https://github.com/awslabs/aws-sdk-rust", branch = "main" }
aws-smithy-types = { git = "https://github.com/awslabs/aws-sdk-rust", branch = "main" }

# aliyun oss
# aliyun-oss-client = "0.11.1"
aliyun-oss-client = "0.12.9"


[[example]]
name = "read_bytes"
path = "examples/read_bytes.rs"

[[example]]
name = "cos"
path = "examples/cos.rs"

[[example]]
name = "dashmap"
path = "examples/dashmap_sample.rs"


[[example]]
name = "jd_s3"
path = "examples/jd_s3.rs"

[[example]]
name = "inotify"
path = "examples/inotify_sample.rs"

[[example]]
name = "notify"
path = "examples/notify_sample.rs"

[[example]]
name = "indicatif"
path = "examples/indicatif_sample.rs"

[[example]]
name = "deal"
path = "examples/result_deal.rs"

[[example]]
name = "minio"
path = "examples/minio.rs"

[profile.release]
lto = true
opt-level = 'z'
codegen-units = 1
