[package]
name = "jd_oss_pipe"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow = "^1"
tokio = { version = "^1", features = ["full"] }
clap = "4.1.6"
rustyline = "11.0.0"
lazy_static = "1.4.0"
fork = "0.1"
sysinfo = "0.28.0"
serde = { version = "1.0.152", features = ["derive"] }
serde_json = "1.0.93"
serde_yaml = "0.9.17"
log = "0.4.17"
log4rs = "1.2.0"
reqwest = { version = "0.11.14", features = ["json"] }
http = "0.2.9"

# jd and aws oss
jdcloud_signer = { git = "https://github.com/shijunLee/jdcloud-sdk-rust-signer" }
aws-config = "0.54.1"
aws-sdk-s3 = "0.24.0"
aws-types = { version = "0.54.1", feature = ["hardcoded-credentials"] }
aws-credential-types = "0.54.1"

# aliyun oss
oss-rust-sdk = "0.7.1"
aliyun-oss-client = "0.10.1"

futures = "0.3"


[profile.release]
lto = true
